@page "/reservations"
@attribute [Authorize(Policy = "EmployeeOnly")]
@using UseCases.UseCaseInterfaces.ReservationUseCaseInterfaces
@using UseCases.UseCaseInterfaces.VehicleModelUseCaseInterfaces
@using UseCases.UseCaseInterfaces.BranchUseCaseInterfaces
@using UseCases.UseCaseInterfaces.CustomerUseCaseInterfaces
@using UseCases.UseCaseInterfaces.UserUseCaseInterfaces

@inject NavigationManager _navigationManager
@inject IViewReservationsUseCase _viewReservationsUseCase
@inject IGetVehicleModelByLicensePlateUseCase _getVehicleModelByLicensePlateUseCase
@inject IGetBranchByIdUseCase _getBranchByIdUseCase
@inject IDeleteReservationUseCase _deleteReservationUseCase
@inject IGetCustomerByGuidUseCase _getCustomerByGuidUseCase


<h3>Manage Reservations</h3>
<br />

<button type="button" @onclick="AddReservationOnClick" class="btn btn-primary">Add Reservation</button>
<br />
<br />

@if (_reservations != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Start Branch</th>
                <th>End Branch</th>
                <th>Start Date&Time</th>
                <th>End Date&Time</th>
                <th>Price</th>
                <th>Vehicle</th>
                <th>Customer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in _reservations)
            {
                <tr>
                    <td>@GetBranchById(reservation.StartBranchId).Name</td>
                    <td>@GetBranchById(reservation.EndBranchId).Name</td>
                    <td>@reservation.StartDateTime</td>
                    <td>@reservation.EndDateTime</td>
                    <td>@reservation.Price</td>
                    <td>
                        @reservation.FleetVehicleLicensePlate
                    @GetVehicleModelByLicensePlate(reservation.FleetVehicleLicensePlate).Model
                </td>
                <td>
                    @GetCustomerByGuid(reservation.CustomerGuid).FirstName
                    @GetCustomerByGuid(reservation.CustomerGuid).LastName -
                    @GetCustomerByGuid(reservation.CustomerGuid).Pesel
                </td>
                <td>
                    <button type="button" class="btn btn-link" @onclick="@(() => EditReservation(reservation))">Edit</button>
                    <button type="button" class="btn btn-link" @onclick="@(() => DeleteReservation(reservation.ReservationGuid))">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private List<Reservation> _reservations;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadData();
    }

    private void AddReservationOnClick()
    {
        _navigationManager.NavigateTo("/addreservation");
    }

    private void EditReservation(Reservation reservation)
    {
        _navigationManager.NavigateTo($"/editreservation/{reservation.ReservationGuid}");
    }

    private void DeleteReservation(string reservationGuid)
    {
        _deleteReservationUseCase.Delete(reservationGuid);
        LoadData();
    }

    private VehicleModel GetVehicleModelByLicensePlate(string licensePlate)
    {
        return _getVehicleModelByLicensePlateUseCase.Execute(licensePlate);
    }

    private Branch GetBranchById(int branchId)
    {
        return _getBranchByIdUseCase.Execute(branchId);
    }

    private Customer GetCustomerByGuid(string customerGuid)
    {
        return _getCustomerByGuidUseCase.Execute(customerGuid);
    }

    private void LoadData()
    {
        _reservations = _viewReservationsUseCase.Execute()?.ToList();
    }

}
