@page "/newreservation"
@attribute [Authorize(Policy = "CustomerOnly")]
@using UseCases.UseCaseInterfaces.ReservationUseCaseInterfaces
@using UseCases.UseCaseInterfaces.BranchUseCaseInterfaces
@using UseCases.UseCaseInterfaces.UserUseCaseInterfaces
@using UseCases.UseCaseInterfaces.VehicleModelUseCaseInterfaces
@using Syncfusion.Blazor.Calendars

@inject NavigationManager _navigationManager
@inject IAddReservationUseCase _addReservationUseCase
@inject IViewBranchesUseCase _viewBranchesUseCase
@inject IViewVehicleModelsUseCase _viewVehicleModelsUseCase
@inject IGetReservationPriceUseCase _getReservationPriceUseCase
@inject IGetVehicleModelByLicensePlateUseCase _getVehicleModelByLicensePlateUseCase
@inject IGetCurrentUserGuidUseCase _getCurrentUserGuidUseCase

<h3>New Reservation</h3>
<br />

@if (_reservation != null)
{
    <EditForm Model="_reservation" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label>Start Date</label>
            <SfDateTimePicker TValue="DateTime" @bind-Value="@StartDateTime" Placeholder='Select start date and time'></SfDateTimePicker>
        </div>

        <div class="form-group">
            <label>End Date</label>
            <SfDateTimePicker TValue="DateTime" @bind-Value="@EndDateTime" Placeholder='Select end date and time'></SfDateTimePicker>
        </div>

        <div class="form-group">
            <label for="startBranchName">Start Branch</label>
            <InputSelect id="startBranchName" @bind-Value="_reservation.StartBranchId" class="form-control">
                @foreach (var branch in _branches)
                    {
                    <option value="@branch.BranchId">@branch.Name</option>
                    }
            </InputSelect>
        </div>

        <div class="form-group">
            <label for="endBranchName">End Branch</label>
            <InputSelect id="endBranchName" @bind-Value="_reservation.EndBranchId" class="form-control">
                @foreach (var branch in _branches)
                    {
                    <option value="@branch.BranchId">@branch.Name</option>
                    }
            </InputSelect>
        </div>

        <div class="form-group">
            <label for="vehicleModel">Vehicle</label>
            <InputSelect id="vehicleModel" @bind-Value="_reservation.VehicleModelId" class="form-control">
                @foreach (var model in _vehicleModels)
                    {
                    <option value="@model.VehicleModelId">@model.Make @model.Model</option>
                    }
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>
    </EditForm>
}

@code {

    private Reservation _reservation;
    private List<VehicleModel> _vehicleModels;
    private List<Branch> _branches;
    private DateTime StartDateTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 28, DateTime.Now.Hour, DateTime.Now.Minute, DateTime.Now.Second);
    private DateTime EndDateTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 28, DateTime.Now.Hour, DateTime.Now.Minute, DateTime.Now.Second).AddDays(1);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _reservation = new Reservation();
        LoadLists();

        // Set form input to initial values
        _reservation.VehicleModelId = 0;
        _reservation.CustomerGuid = _getCurrentUserGuidUseCase.Execute();
    }

    private void OnValidSubmit()
    {
        _reservation.StartDateTime = StartDateTime;
        _reservation.EndDateTime = EndDateTime;
        _reservation.Price = _getReservationPriceUseCase.Execute(_reservation.VehicleModelId, _reservation.StartDateTime, _reservation.EndDateTime);
        _addReservationUseCase.Execute(_reservation);
        _navigationManager.NavigateTo("/myreservations");
    }

    private void OnCancel()
    {
        _navigationManager.NavigateTo("/myreservations");
    }

    private void LoadLists()
    {
        _vehicleModels = _viewVehicleModelsUseCase.Execute()?.ToList();
        _branches = _viewBranchesUseCase.Execute()?.ToList();
    }

}