@page "/branches"
@attribute [Authorize(Policy = "EmployeeOnly")]
@using UseCases.UseCaseInterfaces.BranchUseCaseInterfaces

@inject NavigationManager _navigationManager
@inject IViewBranchesUseCase _viewBranchesUseCase
@inject IDeleteBranchUseCase _deleteBranchUseCase

<h3>Manage Branches</h3>
<br/>
<AuthorizeView Policy="AdminOnly">
    <button type="button" @onclick="AddBranchOnClick" class="btn btn-primary">Add Branch</button>
    <br/>
    <br/>
</AuthorizeView>

@if (_branches != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
            <AuthorizeView Policy="AdminOnly">
                <th>Actions</th>
            </AuthorizeView>
        </tr>
        </thead>
        <tbody>
        @foreach (var branch in _branches)
        {
            <tr>
                <td>@branch.Name</td>
                <td>@branch.Address</td>
                <td>@branch.Description</td>
                <td>
                    <AuthorizeView Policy="AdminOnly">
                        <button type="button" class="btn btn-link" @onclick="@(() => EditBranch(branch))">Edit</button>
                        <button type="button" class="btn btn-link" @onclick="@(() => DeleteBranch(branch.BranchId))">Delete</button>
                    </AuthorizeView>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private List<Branch> _branches;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadBranches();
    }

    private void AddBranchOnClick()
    {
        _navigationManager.NavigateTo("/addbranch");
    }

    private void EditBranch(Branch branch)
    {
        _navigationManager.NavigateTo($"/editbranch/{branch.BranchId}");
    }

    private void DeleteBranch(int branchId)
    {
        _deleteBranchUseCase.Delete(branchId);
        LoadBranches();
    }

    private void LoadBranches()
    {
        _branches = _viewBranchesUseCase.Execute()?.ToList();
    }

}