@page "/vehiclemodels"
@attribute [Authorize(Policy = "EmployeeOnly")]
@using UseCases.UseCaseInterfaces.VehicleModelUseCaseInterfaces
@using UseCases.UseCaseInterfaces.VehicleBodyTypeUseCaseInterfaces

@inject NavigationManager _navigationManager
@inject IViewVehicleModelsUseCase _viewVehicleModelsUseCase
@inject IDeleteVehicleModelUseCase _deleteVehicleModelUseCase
@inject IViewVehicleBodyTypesUseCase _viewVehicleBodyTypesUseCase
@inject IGetVehicleBodyTypeByIdUseCase _getVehicleBodyTypeByIdUseCase

<h3>Manage Vehicle Models</h3>
<br />
<AuthorizeView Policy="AdminOnly">
    <button type="button" @onclick="AddVehicleModelOnClick" class="btn btn-primary">Add Model</button>
    <br />
    <br />
</AuthorizeView>

@if (_vehicleModels != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>ModelYear</th>
                <th>Body Type</th>
                <th>Automatic Gearbox</th>
                <th>Daily Price</th>
                <AuthorizeView Policy="AdminLogisticianOnly">
                <th>Actions</th>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicleModel in _vehicleModels)
            {
                <tr>
                    <td>@vehicleModel.Make</td>
                    <td>@vehicleModel.Model</td>
                    <td>@vehicleModel.ModelYear</td>
                    <td>@GetVehicleBodyTypeById(vehicleModel.BodyTypeId).Name</td>
                    <td>@vehicleModel.AutomaticGearbox</td>
                    <td>@vehicleModel.BaseDailyPrice</td>
                <td>
                    <AuthorizeView Policy="AdminOnly">
                        <button type="button" class="btn btn-link" @onclick="@(() => EditVehicleModel(vehicleModel))">Edit</button>
                            <button type="button" class="btn btn-link" @onclick="@(() => DeleteVehicleModel(vehicleModel.VehicleModelId))">Delete</button>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<VehicleModel> _vehicleModels;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadData();
    }

    private void AddVehicleModelOnClick()
    {
        _navigationManager.NavigateTo("/addvehiclemodel");
    }

    private void EditVehicleModel(VehicleModel vehicleModel)
    {
        _navigationManager.NavigateTo($"/editvehiclemodel/{vehicleModel.VehicleModelId}");
    }

    private void DeleteVehicleModel(int vehicleModelId)
    {
        _deleteVehicleModelUseCase.Delete(vehicleModelId);
        LoadData();
    }

    private void LoadData()
    {
        _vehicleModels = _viewVehicleModelsUseCase.Execute()?.ToList();
    }

    private VehicleBodyType GetVehicleBodyTypeById(int vehicleBodyTypeId)
    {
        return _getVehicleBodyTypeByIdUseCase.Execute(vehicleBodyTypeId);
    }

}
