@page "/reservations"
@using UseCases.UseCaseInterfaces.ReservationUseCaseInterfaces
@using UseCases.UseCaseInterfaces.CustomerUseCaseInterfaces
@using UseCases.UseCaseInterfaces.VehicleModelUseCaseInterfaces
@using UseCases.UseCaseInterfaces.BranchUseCaseInterfaces

@inject NavigationManager _navigationManager
@inject IViewReservationsUseCase _viewReservationsUseCase
@inject IGetCustomerByIdUseCase _getCustomerByIdUseCase
@inject IGetVehicleModelByLicensePlateUseCase _getVehicleModelByLicensePlateUseCase
@inject IGetBranchByIdUseCase _getBranchByIdUseCase


<h3>Manage Reservations</h3>
<br/>

<button type="button" @onclick="AddReservationOnClick" class="btn btn-primary">Add Reservation</button>
<br/>
<br/>

@if (_reservations != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Start Branch</th>
                <th>End Branch</th>
                <th>Start Date&Time</th>
                <th>End Date&Time</th>
                <th>Price</th>
                <th>Vehicle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in _reservations)
            {
                <tr>
                    <td>@GetBranchById(reservation.StartBranchId).Name</td>
                    <td>@GetBranchById(reservation.EndBranchId).Name</td>
                    <td>@reservation.StartDateTime</td>
                    <td>@reservation.EndDateTime</td>
                    <td>@reservation.Price</td>
                    <td>@reservation.FleetVehicleLicensePlate @GetModelByLicensePlate(reservation.FleetVehicleLicensePlate)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Reservation> _reservations;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadData();
    }

    private void AddReservationOnClick()
    {
        _navigationManager.NavigateTo("/addreservation");
    }

    private void LoadData()
    {
        _reservations = _viewReservationsUseCase.Execute()?.ToList();
    }

    private string GetModelByLicensePlate(string licensePlate)
    {
        return _getVehicleModelByLicensePlateUseCase.Execute(licensePlate).Model;
    }

    private Customer GetCustomerById(int customerId)
    {
        return _getCustomerByIdUseCase.Execute(customerId);
    }

    private Branch GetBranchById(int branchId)
    {
        return _getBranchByIdUseCase.Execute(branchId);
    }

}
