@page "/reservations"
@using UseCases.UseCaseInterfaces.ReservationUseCaseInterfaces
@using UseCases.UseCaseInterfaces.CustomerUseCaseInterfaces

@inject NavigationManager _navigationManager
@inject IViewReservationsUseCase _viewReservationsUseCase
@inject IGetCustomerByIdUseCase _getCustomerByIdUseCase;


<h3>Manage Reservations</h3>
<br/>

<button type="button" @onclick="AddReservationOnClick" class="btn btn-primary">Add Reservation</button>
<br/>
<br/>

@if (_reservations != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Branch</th>
                <th>Start Date&Time</th>
                <th>End Date&Time</th>
                <th>Price</th>
                <th>Vehicle</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in _reservations)
            {
                <tr>
                    <td>@reservation.ReservationGuid</td>
                    <td>@reservation.BranchName</td>
                    <td>@reservation.StartDateTime</td>
                    <td>@reservation.EndDateTime</td>
                    <td>@reservation.Price</td>
                    <td>@reservation.FleetVehicleLicensePlate</td>
                    <td>@reservation.CustomerId</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Reservation> _reservations;
    private Customer _customer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadData();
    }

    private void AddReservationOnClick()
    {
        _navigationManager.NavigateTo("/addreservation");
    }

    private void LoadData()
    {
        _reservations = _viewReservationsUseCase.Execute()?.ToList();
    }
}
